@import "_var";

/*-------------

TABLE OF CONTENTS:

1. Header
2. Nav
3. Content
4. Footer
5. Mobile

---------------*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Chonburi', display;
}

// Header---------------

header {
    display: flex;
    align-items: center;
    padding: 20px;

    h1 {
        margin: 0 auto;
        font-size: 60px;
        text-transform: capitalize;
        color: white;
        text-shadow: 2px 2px 2px red;
    }
}

// Nav------------------

nav {

    display: flex;
    text-transform: capitalize;
    background-image: linear-gradient(goldenrod, gold);
    

    p {
        margin-left: 10px;
        font-size: 20px;
        margin-top: 5px;
    }

    ul {
        margin-left: auto;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                font-size: 15px;
                padding: 10px;
                display: block;
                color: black;
                
            }

            a:hover {
                background-color: black;
                color: white;
                text-shadow: 2px 2px 2px red;
            }
        }
    }
}

// Content---------------

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;

    background-color: rgba(gray, 20%);
    color: white;

    h2 {
        @include text;
        font-size: 30px;
        text-decoration: underline;
    }

    p {
        @include text;
    }
}

.content {
    margin: 50px;
}

// Footer----------------

footer {
    display: flex;
    text-transform: capitalize;
    background-image: linear-gradient(goldenrod, gold);
}

.contact {

    border-right: 2px solid yellow;
    padding: 20px;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: white;
        text-shadow: 2px 2px 2px red;
    }
}

.info {
    margin-left: auto;
    border-left: 2px solid yellow;
    padding: 20px;

    p {
        font-size: 10px;
    }
}

// Mobile----------------